In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt

In [2]:
obj = pd.Series([4,-5,6,7,9])
obj

In [3]:
obj.values

In [4]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
obj2 = pd.Series([46,7,8,11,22,45,67,88,102], index=['A','B','C','D','E','F','G','H','I'])
obj2

In [6]:
obj2['H']

88

In [7]:
obj2['H']=114
obj2['H']

114

In [8]:
obj2[obj2>40]

In [9]:
miasta = {'Warszawa':67890,'Kraków':56323,'Lublin':57839,'Gdańsk':53240}

In [10]:
obj3 = pd.Series(miasta)
obj3

In [13]:
dmiasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(miasta,index=dmiasta)

obj4

In [14]:
obj3+obj4

In [16]:
#ramki w pandas
data = {'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
           'rok':[2017,2018,2019,2018,2019,2020],
           'populacja':[2.7,2.78,3.05,0.88,0.94,2.1]}
frame = pd.DataFrame(data)
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.78
2,Warszawa,2019,3.05
3,Kraków,2018,0.88
4,Kraków,2019,0.94
5,Kraków,2020,2.10

In [17]:
frame2 = pd.DataFrame(data,columns=['rok','miasto','populacja','liczba'], index= ['jeden','dwa','trzy','cztery','pięć','szesć'])
frame2

,rok,miasto,populacja,liczba
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.78,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.88,NaN
pięć,2019,Kraków,0.94,NaN
szesć,2020,Kraków,2.10,NaN

In [18]:
frame2.rok

In [19]:
frame2['liczba']=99.99
frame2

,rok,miasto,populacja,liczba
jeden,2017,Warszawa,2.70,99.99
dwa,2018,Warszawa,2.78,99.99
trzy,2019,Warszawa,3.05,99.99
cztery,2018,Kraków,0.88,99.99
pięć,2019,Kraków,0.94,99.99
szesć,2020,Kraków,2.10,99.99

In [20]:
frame2['liczba'] = np.arange(6.)
frame2

,rok,miasto,populacja,liczba
jeden,2017,Warszawa,2.70,0.0
dwa,2018,Warszawa,2.78,1.0
trzy,2019,Warszawa,3.05,2.0
cztery,2018,Kraków,0.88,3.0
pięć,2019,Kraków,0.94,4.0
szesć,2020,Kraków,2.10,5.0

In [45]:
frame2.loc['dwa', 'liczba'] = 0.0083
print(frame2)

         rok    miasto  populacja  liczba
jeden   2017  Warszawa       2.70  0.0000
dwa     2018  Warszawa       2.78  0.0083
trzy    2019  Warszawa       3.05  2.0000
cztery  2018    Kraków       0.88  3.0000
pięć    2019    Kraków       0.94  4.0000
szesć   2020    Kraków       2.10  5.0000

In [31]:
daty = pd.date_range("20230509",periods=6)
daty

DatetimeIndex(['2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12',
               '2023-05-13', '2023-05-14'],
              dtype='datetime64[ns]', freq='D')

In [32]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list('ABCD'))
fr

,A,B,C,D
2023-05-09,0.614917,-1.994808,0.375830,-1.255092
2023-05-10,-0.923178,1.386987,2.072911,-1.387372
2023-05-11,0.214843,-1.343911,-1.459852,1.197483
2023-05-12,-0.906623,-1.420698,0.834181,-1.549893
2023-05-13,0.058431,0.315061,-0.302100,0.804289
2023-05-14,-1.224021,0.287854,-0.124385,-0.892282

In [34]:
fr.tail(2)

,A,B,C,D
2023-05-13,0.058431,0.315061,-0.302100,0.804289
2023-05-14,-1.224021,0.287854,-0.124385,-0.892282

In [35]:
fr.head(3)

,A,B,C,D
2023-05-09,0.614917,-1.994808,0.375830,-1.255092
2023-05-10,-0.923178,1.386987,2.072911,-1.387372
2023-05-11,0.214843,-1.343911,-1.459852,1.197483

In [36]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,-0.360938,-0.461586,0.232764,-0.513811
std,0.750798,1.313867,1.187173,1.199602
min,-1.224021,-1.994808,-1.459852,-1.549893
25%,-0.919039,-1.401501,-0.257672,-1.354302
50%,-0.424096,-0.528028,0.125723,-1.073687
75%,0.175740,0.308259,0.719593,0.380146
max,0.614917,1.386987,2.072911,1.197483

In [37]:
fr.T

,2023-05-09,2023-05-10,2023-05-11,2023-05-12,2023-05-13,2023-05-14
A,0.614917,-0.923178,0.214843,-0.906623,0.058431,-1.224021
B,-1.994808,1.386987,-1.343911,-1.420698,0.315061,0.287854
C,0.375830,2.072911,-1.459852,0.834181,-0.302100,-0.124385
D,-1.255092,-1.387372,1.197483,-1.549893,0.804289,-0.892282

In [40]:
fr.sort_index(axis=0,ascending=False)

,A,B,C,D
2023-05-14,-1.224021,0.287854,-0.124385,-0.892282
2023-05-13,0.058431,0.315061,-0.302100,0.804289
2023-05-12,-0.906623,-1.420698,0.834181,-1.549893
2023-05-11,0.214843,-1.343911,-1.459852,1.197483
2023-05-10,-0.923178,1.386987,2.072911,-1.387372
2023-05-09,0.614917,-1.994808,0.375830,-1.255092

In [41]:
fr.sort_values(by="B")

,A,B,C,D
2023-05-09,0.614917,-1.994808,0.375830,-1.255092
2023-05-12,-0.906623,-1.420698,0.834181,-1.549893
2023-05-11,0.214843,-1.343911,-1.459852,1.197483
2023-05-14,-1.224021,0.287854,-0.124385,-0.892282
2023-05-13,0.058431,0.315061,-0.302100,0.804289
2023-05-10,-0.923178,1.386987,2.072911,-1.387372

In [42]:
dane = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index=['Kraków','Warszawa','Wrocław','Lublin'],
                    columns=['cecha_1','cecha_2','cecha_3','cecha_4'])

dane

,cecha_1,cecha_2,cecha_3,cecha_4
Kraków,0,1,2,3
Warszawa,4,5,6,7
Wrocław,8,9,10,11
Lublin,12,13,14,15

In [43]:
dane['cecha_3']

In [44]:
dane.loc['Kraków',['cecha_1','cecha_3']]

In [46]:
dane.iloc[2,[3,0,1]]